<form action="{% url 'upload'%}"method="POST"enctype="multipart/form-data">
{% csrf_token %}
  <input type="file" name='photo' accept='.png,.jpeg,.jpg' required><br>
  <input type="submit" value="pass">
</form>
{{message}}